table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
tbody tr:nth-child(odd) {
  background-color: lightgray;
}

tbody tr:nth-child(even) {
  background-color: white;
}
